.booking {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 555px;
  background-image: url("../../img/form_background_desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #00bfff;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/form_background_desktop@2x.jpg");
    background-position: center center;
    background-size: cover;
  }
}

.booking__form-wrapper {
  display: flex;
  justify-content: center;
}

.booking__wrapper {
  align-self: center;
  margin-top: -6px;
}

.booking__wrapper h3 {
  margin: 0;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;

  color: #011c40;
}

.booking__wrapper p {
  margin: 0;
  width: 352px;
  font-size: 18px;
  line-height: 27px;
  margin-top: 7px;

  color: #011c40;
}

.booking__form-wrapper form {
  display: flex;
  align-content: center;
  width: 403px;
  margin-left: 10.54%;
  padding-left: 50px;
  padding-right: 49px;
  padding-bottom: 49px;
  flex-direction: column;
  box-sizing: border-box;

  background-color: #011c40;
}

.booking__form-wrapper fieldset {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  border: none;
}

.booking__form-wrapper input::placeholder {
  padding-left: 10px;
  font-size: 14px;
  line-height: 21px;

  color: #011c40;
}

.booking__form-wrapper legend {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin-top: 44px;
  padding: 0;

  color: #f9fbfd;
}

.booking__name-wrapper input {
  width: 295px;
  margin-top: 27px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.booking__phone-wrapper input {
  width: 295px;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.booking__mail-wrapper input {
  width: 295px;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.booking__checkbox-wrapper {
  margin-top: 18px;
  position: relative;
}

.booking__checkbox-wrapper label {
  font-size: 10px;
  line-height: 13px;
  padding-left: 25px;

  color: #f9fbfd;
  cursor: pointer;
}

.booking__checkbox-wrapper input {
  display: none;
}

.booking__checkbox-wrapper input:not(:checked) + label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;

  background-color: #ffffff;
  cursor: pointer;
}

.booking__checkbox-wrapper input:checked + label::after {
  content: "";

  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;

  background-image: url("../../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: center center;
  background-color: #ffffff;
  cursor: pointer;
}

.booking__form-wrapper button {
  width: 303px;
  margin-top: 26px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  padding-top: 9px;
  padding-bottom: 9px;
}

@media (max-width: $tablet-width-only) {
  .booking {
    padding-top: 95px;
    min-height: 805px;
    background-image: url("../../img/form_background_tablet.jpg");
    background-position: center center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/form_background_tablet@2x.jpg");
      background-position: center center;
      background-size: cover;
    }
  }

  .booking__form-wrapper {
    flex-direction: column;
  }

  .booking__wrapper {
    align-self: center;
    margin-top: -6px;
  }

  .booking__wrapper h3 {
    font-size: 34px;
    line-height: 51px;
  }

  .booking__wrapper p {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 18px;
    line-height: 27px;
  }

  .booking__form-wrapper form {
    margin: 0 auto;
    margin-top: 51px;
  }

  .booking__checkbox-wrapper label {
    padding-left: 25px;
  }
}

@media (max-width: $mobile-width-only) {
  .booking {
    padding-top: 65px;
    min-height: 760px;
    background-image: url("../../img/form_background_mobile.jpg");
    background-position: center center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/form_background_mobile@2x.jpg");
      background-position: center center;
      background-size: cover;
    }
  }

  .booking__wrapper {
    align-self: center;
    margin-top: -6px;
  }

  .booking__wrapper h3 {
    font-size: 24px;
    line-height: 31px;
    width: 290px;
    text-align: center;
  }

  .booking__wrapper p {
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
    width: 278px;
  }

  .booking__form-wrapper form {
    width: 290px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 33px;
    padding-bottom: 40px;
  }

  .booking__form-wrapper legend {
    line-height: 25px;
    text-align: center;
    margin-top: 36px;
  }

  .booking__checkbox-wrapper {
    display: flex;
  }

  .booking__checkbox-wrapper label {
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
    padding-left: 30px;
  }

  .booking__form-wrapper fieldset {
    margin-top: 36px;
  }

  .booking__name-wrapper input {
    width: 222px;
    margin-top: 27px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .booking__phone-wrapper input {
    width: 222px;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .booking__mail-wrapper input {
    width: 222px;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .booking__form-wrapper button {
    width: 230px;
    margin-top: 24px;
  }
}
