.contacts {
  padding-top: 120px;
  padding-bottom: 109px;
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
  margin-left: 7.54%;
  margin-right: 7.54%;
}

.contacts__map {
  position: relative;
  overflow: hidden;
}

.contacts__map a {
  position: absolute;
  font-size: 12px;
  top: 0;
  color: #eeeeee;
}

.contacts__map iframe {
  position: relative;
  z-index: 10;
}

.contacts__map-change {
  position: absolute;
  width: 560px;
  height: 306px;
  margin-left: -560px;
  overflow: hidden;
}

.contacts__wrapper img {
  position: absolute;
  width: 560px;
  height: 306px;
  z-index: -1;
}

.contacts__address-wrapper {
  width: 500px;
  margin-left: 7.174%;
  align-self: center;
  margin-top: -13px;

  color: #011c40;
}

.contacts__address-wrapper h4 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.contacts__address-wrapper p {
  position: relative;
  margin: 0;
  padding-left: 26px;
  margin-top: 31px;
  font-size: 16px;
  line-height: 24px;
}

.contacts__address-wrapper p::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;
  width: 18px;
  height: 22px;

  background-image: url("../../img/icon-pointer.svg");
  background-size: 18px 22px;
  background-repeat: no-repeat;
}

.contacts__address-wrapper a {
  position: relative;
  display: block;
  margin: 0;
  padding-left: 26px;
  margin-top: 22px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;

  color: #011c40;
}

.contacts__address-wrapper a::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;
  width: 18px;
  height: 18px;

  background-image: url("../../img/icon-phone.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

@media (max-width: $tablet-width-only) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 89px;
  }

  .contacts__wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .contacts__map iframe {
    width: 324px;
    height: 335px;
  }

  .contacts__map-change {
    width: 324px;
    height: 335px;
    margin-left: -324px;
  }

  .contacts__wrapper img {
    width: 324px;
    height: 335px;
  }

  .contacts__address-wrapper {
    width: 324px;
    margin-left: 30px;
  }

  .contacts__address-wrapper p {
    margin-top: 29px;
  }

  .contacts__address-wrapper p::before {
    top: 4px;
    left: -2px;
  }
}

@media (max-width: $mobile-width-only) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 55px;
  }

  .contacts__wrapper {
    flex-direction: column;
  }

  .contacts__map {
    margin: 0 auto;
    order: 2;
    margin-top: 33px;
  }

  .contacts__map iframe {
    width: 290px;
    height: 316px;
  }

  .contacts__map-change {
    width: 290px;
    height: 316px;
    margin-left: -290px;
  }

  .contacts__wrapper img {
    width: 290px;
    height: 316px;
  }

  .contacts__address-wrapper {
    width: 290px;
    margin-left: 0;
  }
}
