.cruises h2 {
  margin: 0;
  margin-top: 105px;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  text-align: center;
}

.cruises__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  justify-content: space-around;
  padding: 0;
  padding-bottom: 90px;
  margin: 0 auto;
  margin-top: 49px;
  list-style: none;
}

.cruises__list li {
  position: relative;
  margin-bottom: 23px;
  min-height: 386px;
}

.cruises__list h3 {
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: 30px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;

  color: #f9fbfd;
}

.cruises__wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 260px;
  min-height: 386px;
  top: 0;
  left: 0;
  padding-left: 25px;
  padding-top: 38px;
  opacity: 0;
}

.cruises__list li:hover .cruises__wrapper,
.cruises__list li:focus .cruises__wrapper {
  opacity: 1;
}

.cruises__list li:focus {
  outline: none;
}

@media (max-width: $tablet-width-only) {
  .cruises h2 {
    margin-top: 90px;
    font-size: 26px;
    line-height: 39px;
  }

  .cruises__list {
    max-width: 708px;
    justify-content: center;
    padding: 0;
    padding-bottom: 70px;
    margin-top: 49px;
  }

  .cruises__list li {
    width: 309px;
    margin-right: 0;
    margin-bottom: 23px;
  }

  .cruises__list li:nth-child(2n+1) {
    margin-right: 30px;
  }

  .cruises__list img {
    width: 309px;
    height: 386px;
  }

  .cruises__list h3 {
    bottom: 34px;
    left: 35px;
  }

  .cruises__wrapper {
    width: 309px;
    min-height: 386px;
    top: 0;
    left: 0;
    padding-left: 35px;
    padding-top: 30px;
  }
}

@media (max-width: $mobile-width-only) {
  .cruises h2 {
    margin-top: 58px;
    font-size: 24px;
    line-height: 36px;
  }

  .cruises__list {
    max-width: 270px;
    justify-content: center;
    padding-bottom: 35px;
    margin-top: 29px;
  }

  .cruises__list li {
    width: 270px;
  }

  .cruises__list li:nth-child(2n+1) {
    margin-right: 0;
  }

  .cruises__list img {
    width: 270px;
    height: 386px;
  }

  .cruises__list h3 {
    bottom: 24px;
    left: 25px;
  }

  .cruises__wrapper {
    width: 270px;
    min-height: 386px;
    padding-left: 25px;
    padding-top: 30px;
  }
}
