.main-header {
  min-height: 650px;
  padding-left: 103px;
  padding-right: 103px;
  padding-top: 35px;
  box-sizing: border-box;
  background-image: url("../../img/header_desktop.jpg");
  background-size: 100% 650px;
  background-repeat: no-repeat;
  background-color: #4086ff;
}

@media (min-width: $desktop-width) {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .main-header {
      background-image: url("../../img/header_desktop@2x.jpg");
    }
  }
}

@media (max-width: $tablet-width-only) {
  .main-header {
    min-height: 638px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
    background-image: url("../../img/header_tablet.jpg");
    background-size: 100% 638px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .main-header {
      background-image: url("../../img/header_tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width-only) {
  .main-header {
    min-height: 500px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    background-image: url("../../img/header_mobile.jpg");
    background-size: 100% 500px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .main-header {
      background-image: url("../../img/header_mobile@2x.jpg");
    }
  }
}
