.main-header {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding-left: 103px;
  padding-right: 103px;
  padding-top: 35px;
  background-color: transparent;
}

@media (max-width: $tablet-width-only) {
  .main-header {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
}
