.main-footer {
  min-height: 138px;
  padding-left: 103px;
  padding-right: 103px;
  padding-bottom: 44px;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;

  background-color: #011c40;
  color: #f9fbfd;
}

.main-footer__wrapper {
  max-width: 1160px;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -5px;
}

.main-footer__list li {
  margin-left: 33px;
  margin-top: 5px;
}

.main-footer__list-wrapper {
  margin-left: 40px;
  margin-top: -6px;
  align-self: center;
  max-width: 626px;
}

.main-footer__list li:nth-child(4n + 1) {
  margin-left: 0;
}

.main-footer__social-wrapper {
  margin-left: auto;
  align-self: center;
  max-width: 117px;
}

.main-footer__social {
  margin: 0;
  padding: 0;
}

.main-footer__list a {
  text-decoration: none;

  color: #f9fbfd;
}

@media (max-width: $tablet-width-only) {
  .main-footer {
    min-height: 120px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 12px;
    line-height: 14.63px;
  }

  .main-footer__logo {
    width: 38px;
    height: 20px;
  }

  .main-footer__logo svg {
    width: 38px;
    height: 20px;
  }

  .main-footer__list-wrapper {
    margin-left: 25px;
    margin-top: -6px;
  }

  .main-footer__list {
    margin-top: 0;
  }

  .main-footer__list li {
    margin-left: 23px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-footer {
    flex-direction: column;
    align-content: flex-start;
    min-height: 283px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 37px;
    padding-top: 40px;
    text-align: left;
  }

  .main-footer__wrapper {
    flex-direction: column;
  }

  .main-footer__logo {
    width: 42px;
    height: 22px;
  }

  .main-footer__logo svg {
    width: 42px;
    height: 22px;
  }

  .main-footer__list {
    flex-direction: column;
  }

  .main-footer__list-wrapper {
    margin-top: 29px;
    margin-left: 0;
    align-self: start;
  }

  .main-footer__list li {
    margin-top: 18px;
    margin-left: 0;
  }

  .main-footer__list li:first-child {
    margin-top: 0;
  }

  .main-footer__social-wrapper {
    margin-top: 26px;
    margin-left: 0;
    align-self: flex-start;
  }
}
